.backgroundstartbox{
    width: 50%;
    height: 940px;
    background-color: gray;

}
.container71{
    background-color: blue;
    width: 40%;
    float: left;
    height: 920px;
    text-decoration: none;
    
}
.container74{
    background-color: rgba(211, 211, 211, 0.809);
    width: 40%;
    float: left;
    height: 920px;
    text-decoration: none;
}
.consumer{
    margin-left: 10%;
    border: none;
    margin-top: 80px;
    background-color: rgba(211, 211, 211, 0.856);
    width: 1100px;
    height: 760px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}
.consumers{
    margin-right: 10%;
    border: none;
    margin-top: 80px;
    background-color: white;
    width: 550px;
    height: 760px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}
.container74 .sara{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    border: 1px solid #d5d5d2;
    border-radius: 30px;
    width: 320px;
    margin-top: 77px;
    padding: 45px;
    height: 590px;
    background-color: rgba(173, 213, 230, 0.082);
    opacity: .9;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    top: 10%;
}
.container74 .sara input{
       
        background: white;
        color: white;
        border: 1px solid #d5d5d2;
        padding: 5px;
        background-color: white;
        
        
       
        
    
    }
    .container74 .mine{
        margin-left: 100%;
        left: 100%;


        }
        .button{
            background-color: blue;
            color: white;
            
          }
        .btn{
                width: 300px;
                color: white;
                height: 40px;
                
                border: 1px  solid transparent;
                
                text-decoration: none;
                transition: 0.6s ease;
                background: blue;
                
            
         }
         .wrap{
            color: rgba(169, 85, 25, 0.518);
            border: 1px solid #d5d5d2;
            background-color: white;
            width: 55px;
            height: 50px;
            text-align: center;
            font-size: 32px;
            display: inline-block;
            margin-left: 50px;
            left: 50px;
         }
         .wrap li{
            text-align: center;
            margin-left: 50px;
            left: 50px;
         }
         .ras{
            color: black;
            border: 1px solid #d5d5d2;
            background-color: white;
            width: 50px;
            height: 50px;
            text-align: center;
            display: inline-block;
            margin-left: 40px;
            left: 40px;
            font-size: 32px; 
        }
        .ras li{
            text-align: center;
            margin-left: 40px;
            left: 40px;
         }
        .rar{
            color: blue;
            border: 1px solid #d5d5d2;
            background-color: white;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 32px;
            display: inline-block;
            margin-left: 30px;
            left: 30px;
        }
        .rar li{
            text-align: center;
            margin-left: 30px;
            left: 30px;
         }
         .icons{
            height: 45px;
            
            
            }
        .icons ul{
            list-style-type: none;
            margin: 10px 0 10px 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            }
        .icons ul li{
            display: block;
            margin-left: 5px;
        }
        .container71 .buttons{
            border: 1px solid white;
            width: 400px;
            height: 300px;
            top: 80px;
            margin-top: 90px;
            left: 100px;
            margin-left: 100px;
            background: white;
            
        
         }
         .buttons h8{
            position: absolute;
            color: blue;
            
            left: 28%;
            top: 34%;
            
         }
         .buttons .pix{
            border: 1px solid #d5d5d2;
            position: absolute;
            top: 44%;
            left: 25%;
            width: 120px;
            height: 60px;
         }
         .buttons .bug{
            border: 1px solid #d5d5d2;
            position: absolute;
            top: 55%;
            left: 25%;
            width: 120px;
            height: 60px;
         }
         .buttons .c{
            
            position: absolute;
            top: 56%;
            left: 29%;
            
         }
         .buttons .stat{
            
            position: absolute;
            top: 35%;
            left: 12%;
            font-weight: bold;
            color: black;
            
         }
         .buttons .dot{
            
            position: absolute;
            top: 44%;
            left: 28%;
            color: blueviolet;
            
           
         }
         .buttons .ric{
            
            position: absolute;
            top: 44%;
            left: 14%;
            color: blueviolet;
           
         }
         .batn{
            background-color: lightgrey;
            color: blue;
            top: 90px;
            margin-top: 240px;
            border: 1px transparent;
           
        
         }
         .bton{
            background-color: lightgreen;
            color: green;
            border: 1px transparent;
           
        
         }
         .btns{
            background-color: lightcoral;
            color: rgb(250, 49, 49);
            border: 1px transparent;
           
        
         }
        
         .sac{
            text-align: center;
            
        
         }
         
         .container71 .musime{
           border: 1px solid #d5d5d2;
           width: 320px;
           margin-left: 60px;
           left: 40px;
           top: 300px;
           margin-top: 99px;
           border: 1px solid #d5d5d2; 
        
           border-radius: 80px;
           margin-left: 100px;
           left: 100px;
           margin-top: 100px;
        }
        .divider{
           width: 60px;
           height: 4px;
           background-color: blue;
           display: inline-block;
        }
        .divide{
           width: 60px;
           height: 4px;
           background-color: grey;
           display: inline-block;
        }
        .divides{
           width: 60px;
           height: 4px;
           background-color: grey;
           display: inline-block;
        }
        .men{
           font-size: 25px;
           position: bottom;
           left: 50px;
           margin-left: 50px;
           top: 200px;
           margin-top: 200px;
        
        }
        .container{
           border: 1px solid #d5d5d2;
           left: 110px;
           margin-left: 100px;
           top: 600px;
           margin-top: 60px0px;
        }
        .wow{
           position: top left;
           left: 23px;
           margin-left: 23px;
           top: 50px;
           margin-top: 50px;
        
        }
        h7{
           color: blueviolet;
           top: 60px;
           margin-top: 60px;
        }
        .pix ul{
           color: blueviolet;
           bottom: 60px;
           margin-bottom: 70px;
           margin-left: 14px;
           left: 16px;
        
        }
        
         
     